{{!-- <div>
    <h1>Productos</h1>
<div class="container">
<form id="productForm" class="productForm"   method="POST" action="/realtimeproducts">
    <label for="productName">Nombre del producto:</label>
    <input
        type="text"
        id="productName"
        name="name"
        placeholder="Nombre del producto"
    />

    <label for="productTitle">Título:</label>
    <input
        type="text"
        id="productTitle"
        name="title"
        placeholder="Título del producto"
    />

    <label for="productDescription">Descripción:</label>
    <textarea
        id="productDescription"
        name="description"
        placeholder="Descripción del producto"
    ></textarea>

    <label for="productPrice">Precio:</label>
    <input
        type="number"
        id="productPrice"
        name="price"
        step="0.01"
        placeholder="Precio del producto"
    />

    <label for="productThumbnail">Thumbnail:</label>
    <input
        type="text"
        id="productThumbnail"
        name="thumbnail"
        placeholder="URL del thumbnail"
    />

    <label for="productCode">Código:</label>
    <input
        type="text"
        id="productCode"
        name="code"
        placeholder="Código del producto"
    />

    <label for="productStock">Stock:</label>
    <input
    type="number"
    id="productStock"
    name="stock"
    placeholder="Stock del producto"
    />

    <button type="submit">Agregar</button>
</form>
</div>
<ul id="productList" class="productList">
    {{#each products}}
    <li>
        <h3>{{name}}</h3>
        <p>Título: {{title}}</p>
        <p>Descripción: {{description}}</p>
        <p>Precio: {{price}}</p>
        <img src={{thumbnail}} />
        <button class="deleteButton" data-id="{{this.id}}">Eliminar</button>
    </li>
    {{/each}}
</ul>
    
</div> --}}
<h1>Modificar Productos</h1>
<div style="display: flex;" style="flex-wrap: wrap;" id="contenedor">
  {{!-- Se llena con el index.js --}}
</div>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
  Agregar Producto
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="productForm" method="POST" action="/realtimeproducts">
        <input type="text" placeholder="Ingrese nombre" id="nombre">
        <input type="text" placeholder="Ingrese descripción" id="descripcion">
        <input type="text" placeholder="Ingrese codigo" id="codigo">
        <input type="text" placeholder="Ingrese precio" id="precio">
        <input type="text" placeholder="Ingrese stock" id="stock">
        <input type="text" placeholder="Ingrese categoria" id="categoria">
        <input type="text" placeholder="Ingrese rutas" id="rutas">
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
      </div>
    </div>
  </div>
</div>
<script src="/js/realTimeProduct.js"></script>
